<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler" />
    </configSections>

    <appSettings>
        <add key="bbsurl" value="http://192.168.1.191:94/" />
        <add key="IsOrd" value="0" />
        <add key="xml_item" value="/config/item.config" />
        <add key="dbUserName" value="F25D1A8638C2864DDA1DE2DD22BAD0C350FDD26DB25D52BB2BF5BEE98F4922F31E945305154B5A59" />
        <add key="dbUserPwd" value="CB28B3A636A133121BF660486F97893C9CC512B85F3DE93D517F7CA8E733209693B2E109FA1282E1" />
    </appSettings>

    <connectionStrings>
        
        <add name="SqlServer" connectionString="Data Source=127.0.0.1;Initial Catalog=fxscw_1;user id={0};pwd={1}" providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <system.web>
    
        <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
        <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" timeout="40"></sessionState>
        
        <pages validateRequest="false" enableEventValidation="false">
        
            <namespaces>
                <add namespace="System.Data" />
                <add namespace="WZ.Common" />
                <add namespace="WZ.Data" />
                <add namespace="WZ.Common.Config" />
                <add namespace="WZ.Client.Data" />
            </namespaces>
            
            <controls>
                <add namespace="WZ.Common.Control" tagPrefix="w" assembly="WZ.Common" />
                <add namespace="WZ.Common.Control.Templated" tagPrefix="w" assembly="WZ.Common" />
                <add namespace="WZ.Client.Control" tagPrefix="w" assembly="WZ.Client.Control" />

                <add src="~/ascx/top.ascx" tagPrefix="w" tagName="top" />
                <add src="~/ascx/header.ascx" tagPrefix="w" tagName="header" />
                <add src="~/ascx/headerUser.ascx" tagPrefix="w" tagName="headerUser" />
                <add src="~/ascx/bottom.ascx" tagPrefix="w" tagName="bottom" />
                <add src="~/ascx/bottom1.ascx" tagPrefix="w" tagName="bottom1" />
                <add src="~/ascx/links.ascx" tagPrefix="w" tagName="links" />

                <add src="~/ascx/userMenu.ascx" tagPrefix="w" tagName="userMenu" />
                <add src="~/ascx/userLocation.ascx" tagPrefix="w" tagName="userLocation" />
                <add src="~/ascx/webLocation.ascx" tagPrefix="w" tagName="CurrentPath" />

                <add src="~/ascx/list/proHistory.ascx" tagPrefix="w" tagName="proHistory" />
                <add src="~/ascx/list/caiPuHistory.ascx" tagPrefix="w" tagName="caiPuHistory" />
                <!--<add src="~/ascx/list/taoCanHistory.ascx" tagPrefix="w" tagName="taoCanHistory" />-->

                <add src="~/ascx/ppt/ppt1.ascx" tagPrefix="w" tagName="ppt1" />
                <add src="~/ascx/ppt/ppt2.ascx" tagPrefix="w" tagName="ppt2" />
                <add src="~/ascx/ppt/ppt3.ascx" tagPrefix="w" tagName="ppt3" />

                <add src="~/ascx/list/cycle.ascx" tagPrefix="w" tagName="cycle" />
                <add src="~/ascx/list/cycleLink.ascx" tagPrefix="w" tagName="cycleLink" />
                <add src="~/ascx/list/cycleText.ascx" tagPrefix="w" tagName="cycleText" />

            </controls>
        </pages>
       
        <compilation debug="true">
        </compilation>
        
        <authentication mode="Forms" />

        <httpModules>
            <add type="URLRewriter.ModuleRewriter" name="UrlRewriter" />
            <!--<add type="WZ.Data.CenterHandler.cs1" name="CenterHandler.cs1" />-->
        </httpModules>

        <customErrors mode="Off"  />
        <httpHandlers>
            <!--<add verb="*" path="*.aspx" type="WZ.Data.CenterHandler.cs1, WZ.Data" />-->
        </httpHandlers>
    </system.web>
    <RewriterConfig>
        <Rules>
            <!--产品 分类-->
            <RewriterRule>
                <LookFor>~/product/category/(.*).html</LookFor>
                <SendTo>~/pro/clist.aspx?s=$1</SendTo>
            </RewriterRule>

            <!--产品 内容-->
            <RewriterRule>
                <LookFor>~/product/show/(.*).html</LookFor>
                <SendTo>~/pro/show.aspx?id=$1</SendTo>
            </RewriterRule>

            <!--菜谱 分类-->
            <RewriterRule>
                <LookFor>~/caiPu/category/(.*).html</LookFor>
                <SendTo>~/caiPu/clist.aspx?s=$1</SendTo>
            </RewriterRule>

            <!--菜谱 内容-->
            <RewriterRule>
                <LookFor>~/caiPu/show/(.*).html</LookFor>
                <SendTo>~/caiPu/show.aspx?id=$1</SendTo>
            </RewriterRule>

            <!--套餐 分类--><!--
            <RewriterRule>
                <LookFor>~/taoCan/category/(.*).html</LookFor>
                <SendTo>~/taoCan/clist.aspx?s=$1</SendTo>
            </RewriterRule>

            --><!--套餐 内容--><!--
            <RewriterRule>
                <LookFor>~/taoCan/show/(.*).html</LookFor>
                <SendTo>~/taoCan/show.aspx?id=$1</SendTo>
            </RewriterRule>-->

            <!--健康快讯 分类-->
            <RewriterRule>
                <LookFor>~/news/1/class/(.*).html</LookFor>
                <SendTo>~/news/1/clist.aspx?s=$1</SendTo>
            </RewriterRule>

            <!--健康快讯 内容-->
            <RewriterRule>
                <LookFor>~/news/1/article/(.*).html</LookFor>
                <SendTo>~/news/1/show.aspx?id=$1</SendTo>
            </RewriterRule>
        </Rules>
    </RewriterConfig>
    <!--<system.webServer>
        <handlers>
            <add name="html" path="*html" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
        </handlers>
    </system.webServer>-->
</configuration>
