<?xml version="1.0" encoding="utf-8" ?>
<item>
    <!--审核-->
    <infolist name="Audit" remarks="审核">
        <info id="0" name="未审核"></info>
        <info id="1" name="通过"></info>
        <info id="2" name="未通过"></info>
    </infolist>

    <!--产品属性-->
    <infolist name="ProItem"  remarks="产品属性">
        <info id="1" name="新品" ></info>
        <info id="2" name="推荐"></info>
        <info id="4" name="促销"></info>
        <info id="8" name="热销"></info>
        <info id="16" name="秒杀"></info>
        <remarks id="64" name="菜蓝子"></remarks>
        <info id="128" name="无公害"></info>
        <info id="256" name="首页栏目"></info>
        <info id="1024" name="独家"></info>

        <info id="32" name="推荐到菜篮子专栏[首页]"></info>
        <info id="512" name="推荐到菜篮子专栏[栏目]"></info>

        <info id="2048" name="团体订购"></info>

    </infolist>

    <!--产品类型-->
    <infolist name="ProType" remarks="产品类型">
        <info id="0" name="产品"></info>
        <info id="1" name="菜谱"></info>
        <info id="2" name="营养套餐"></info>
    </infolist>

    <!--商家类型-->
    <infolist name="JoinTypeList" remarks="商家类型">
        <info id="0" name="菜蓝子"></info>
        <info id="1" name="供应商"></info>
    </infolist>

    <!--上架下架-->
    <infolist name="IsHas" remarks="上架下架">
        <info id="0" name="上架"></info>
        <info id="1" name="下架"></info>
    </infolist>

    <!--订单状态-->
    <infolist name="OrderStatus" remarks="订单状态">
        <info id="10" name="待发货"></info>
        <info id="20" name="已取消"></info>
        <info id="21" name="申请取消"></info>
        <info id="22" name="拒绝申请取消"></info>
        <info id="30" name="已发货"></info>
        <info id="40" name="已确认"></info>
        <info id="50" name="已完成"></info>
    </infolist>

    <!--订单支付状态-->
    <infolist name="OrderStatusPay" remarks="订单支付状态">
        <info id="0" name="未付款"></info>
        <info id="1" name="已付款"></info>
        <info id="2" name="已预付"></info>
    </infolist>

    <!--菜谱属性-->
    <infolist name="CaiPuItem" remarks="菜谱属性">
        <info id="1" name="精品食谱"></info>
        <info id="2" name="推荐1"></info>
        <info id="4" name="推荐2"></info>
        <info id="128" name="无公害"></info>
        <info id="256" name="首页栏目"></info>
    </infolist>

    <!--套餐属性-->
    <infolist name="TaoCanItem" remarks="套餐属性">
        <info id="1" name="精品套餐"></info>
        <info id="2" name="推荐1"></info>
        <info id="4" name="推荐2"></info>
        <info id="128" name="无公害"></info>
        <info id="256" name="首页栏目"></info>
    </infolist>

    <!--帮助属性-->
    <infolist name="HelpItem" remarks="帮助属性">
        <info id="1" name="显示底部"></info>
    </infolist>

    <!--文章版权-->
    <infolist name="NewsType" remarks="文章版权">
        <info id="1" name="原创"></info>
        <info id="2" name="转载"></info>
    </infolist>

    <!--新闻页链接类型-->
    <infolist name="NewsUrlType" remarks="新闻页链接类型">
        <info id="1" name="资讯页"></info>
        <info id="2" name="独立页"></info>
    </infolist>

    <!--新闻属性-->
    <infolist name="NewsItem" remarks="新闻属性">
        <info id="32" name="首页推荐"></info>
        <info id="64" name="首页图文"></info>

        <info id="4" name="内页推荐"></info>
        <info id="1" name="内页图文"></info>

        <info id="2" name="幻灯片"></info>
        <info id="8" name="公告"></info>
        <info id="16" name="活动"></info>
    </infolist>

    <!--幻灯片位置-->
    <infolist name="PPTStr" remarks="幻灯片位置">
        <info id="home" name="首页"></info>
        <info id="caipu" name="菜谱"></info>
        <info id="taocan" name="营养套餐"></info>
        <info id="cailangzi" name="菜篮子专栏"></info>
        <info id="gift" name="礼品兑换区"></info>
    </infolist>

    <!--是否-->
    <infolist name="YesNo" remarks="是否">
        <info id="1" name="是"></info>
        <info id="0" name="否"></info>
    </infolist>

    <!--性别-->
    <infolist name="Sex" remarks="性别">
        <info id="1" name="男"></info>
        <info id="0" name="女"></info>
    </infolist>

    <!--关键词状态-->
    <infolist name="KeyWordItem" remarks="关键词状态">
        <info id="1" name="前台显示"></info>
        <info id="2" name="显示在搜索框(商品)"></info>
        <info id="4" name="显示在搜索框(食谱)"></info>
        <info id="8" name="显示在搜索框(资讯)"></info>
    </infolist>

    <!--友情链接 类型-->
    <infolist name="LinkType" remarks="友情链接 类型">
        <info id="0" name="友情链接"></info>
        <info id="1" name="合作伙伴"></info>
    </infolist>

    <!--友情链接 显示位置-->
    <infolist name="LinkShowLocal" remarks="友情链接 显示位置">
        <info id="0" name="无"></info>
        <info id="1" name="显示在首页"></info>
    </infolist>

    <!--友情链接 显示方式-->
    <infolist name="LinkShowType" remarks="友情链接 显示方式">
        <info id="0" name="文字链接"></info>
        <info id="1" name="图片链接"></info>
    </infolist>

    <!--会员类型-->
    <infolist name="LevelType" remarks="会员类型">
        <info id="0" name="普通零售会员等级"></info>
        <info id="1" name="批发代理会员等级"></info>
    </infolist>

    <!--信件是否已读-->
    <infolist name="IsRead" remarks="信件是否已读">
        <info id="0" name="未读"></info>
        <info id="1" name="已读"></info>
    </infolist>

    <!--支付方式类型-->
    <infolist name="PayType" remarks="支付方式类型">
        <info id="zfb" name="支付宝"></info>
        <info id="gs" name="工商银行"></info>
        <info id="ny" name="农业银行"></info>
        <info id="zg" name="中国银行"></info>
        <info id="js" name="建设银行"></info>
        <info id="yck" name="预存款"></info>
        <info id="qt" name="其它"></info>
    </infolist>

    <!--配置时间范围 注:更改个数时需要修改订单-->
    <infolist name="OrdAreaTime" remarks="配置时间范围">
        <info id="_c_html" name="&lt;optgroup label=&quot;上午&quot;&gt;"></info>
        <info id="1" name="09:00 ~ 09:30"></info>
        <info id="2" name="09:30 ~ 10:00"></info>
        <info id="3" name="10:00 ~ 10:30"></info>
        <info id="4" name="10:30 ~ 11:00"></info>
        <info id="5" name="11:00 ~ 11:30"></info>
        <info id="6" name="11:30 ~ 12:00"></info>
        <info id="7" name="12:00 ~ 12:30"></info>
        <info id="_c_html" name="&lt;/optgroup&gt;"></info>

        <info id="_c_html" name="&lt;optgroup label=&quot;下午&quot;&gt;"></info>
        <info id="8" name="12:30 ~ 13:00"></info>
        <info id="9" name="13:00 ~ 13:30"></info>
        <info id="10" name="13:30 ~ 14:00"></info>
        <info id="11" name="14:00 ~ 14:30"></info>
        <info id="12" name="14:30 ~ 15:00"></info>
        <info id="13" name="15:00 ~ 15:30"></info>
        <info id="14" name="15:30 ~ 16:00"></info>
        <info id="15" name="16:00 ~ 16:30"></info>
        <info id="16" name="16:30 ~ 17:00"></info>
        <info id="17" name="17:00 ~ 17:30"></info>
        <info id="18" name="17:30 ~ 18:00"></info>
        <info id="19" name="18:00 ~ 18:30"></info>
        <info id="20" name="18:30 ~ 19:00"></info>
        <info id="_c_html" name="&lt;/optgroup&gt;"></info>
    </infolist>

    <!--从事行业-->
    <infolist name="Trades" remarks="从事行业">
        <info id="1" name="企业雇主/企业经营者"></info>
        <info id="2" name="高级行政人员(行政总裁、总经理、董事等)"></info>
        <info id="3" name="中层管理人员(总监、经理、主任等)"></info>
        <info id="4" name="专业人士(会计师、律师、工程师、医生、教师等)"></info>
        <info id="5" name="办公职员(一般文职、业务、办事人员等)工人、蓝领"></info>
        <info id="6" name="工人/蓝领"></info>
        <info id="7" name="公务员、公共事业单位员工"></info>
        <info id="8" name="自由职业者"></info>
        <info id="9" name="军人"></info>
        <info id="10" name="学生"></info>
        <info id="11" name="退休人员"></info>
        <info id="12" name="家庭主妇"></info>
        <info id="13" name="其他"></info>
    </infolist>

    <!--月均收入-->
    <infolist name="Income" remarks="月均收入">
        <info id="1" name="无收入"></info>
        <info id="2" name="2000 元以下"></info>
        <info id="3" name="2000～3999 元"></info>
        <info id="4" name="4000～5999 元"></info>
        <info id="5" name="6000～7999 元"></info>
        <info id="6" name="8000～9999 元"></info>
        <info id="7" name="10000～15000 元"></info>
        <info id="8" name="15000 元以上"></info>
    </infolist>

    <!--厨艺水平-->
    <infolist name="Cuisine" remarks="厨艺水平">
        <info id="1" name="初级"></info>
        <info id="2" name="中级"></info>
        <info id="3" name="高级"></info>
    </infolist>

    <!--喜欢菜系-->
    <infolist name="Vegetables" remarks="喜欢菜系">
        <info id="1" name="川菜"></info>
        <info id="2" name="鲁菜"></info>
        <info id="4" name="苏菜"></info>
        <info id="8" name="粤菜"></info>
        <info id="16" name="浙菜"></info>
        <info id="32" name="闽菜"></info>
        <info id="64" name="湘菜"></info>
        <info id="128" name="徽菜"></info>
        <info id="256" name="京菜"></info>
        <info id="512" name="晋菜"></info>
        <info id="1024" name="上海菜"></info>
        <info id="2048" name="西北菜"></info>
        <info id="4096" name="东北菜"></info>
        <info id="8192" name="泰国菜"></info>
        <info id="16384" name="日韩料理"></info>
        <info id="32768" name="其他"></info>
    </infolist>

    <!--喜欢口味-->
    <infolist name="Taste" remarks="喜欢口味">
        <info id="1" name="酸味"></info>
        <info id="2" name="甜味"></info>
        <info id="4" name="苦味"></info>
        <info id="8" name="辣味"></info>
        <info id="16" name="咸味"></info>
        <info id="32" name="香味"></info>
        <info id="64" name="麻辣"></info>
        <info id="128" name="清淡"></info>
        <info id="256" name="酸辣"></info>
        <info id="512" name="微苦"></info>
        <info id="1024" name="微辣"></info>
        <info id="2048" name="香酥"></info>
        <info id="4096" name="香脆"></info>
        <info id="8192" name="怪味"></info>
    </infolist>

    <!--网购食品您更注重那些因素-->
    <infolist name="Factor" remarks="网购食品您更注重那些因素">
        <info id="1" name="健康新鲜"></info>
        <info id="2" name="价格低廉"></info>
        <info id="4" name="营养搭配"></info>
        <info id="8" name="配送快捷"></info>
        <info id="16" name="服务态度"></info>
    </infolist>
</item>